<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .doc-begin {
            text-align: right;
            margin-left:auto;
            margin-right:0;
            width: 250px;
        }

        .doc-title {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="doc-begin">
    ИТИС югары мәктәбе директоры
    Абрамский Михаил Михайлович
    студенттан <b>${name} ${surname} ${patronymic}</b>
</div>
<h3 class="doc-title">Белдерү</h3>
<p>
    Зинһар, мине авыру аркасында куып чыгарыгыз <b>${name} ${surname} ${patronymic}</b> (${birthday}, ${passwordId})
</p>
<p>
    <b>${name} ${surname} ${patronymic}</b> __________________ (Имза һәм шифрлау)
</p>
</body>
</html>